Repository maximbircu/devtools-library, pull requests merged in 2020-04, with the labels that each got.

#31 Use macOS machine for assemble Github Action steps
  .github/workflows/pull-requests.yml
  CHANGELOG.md
Labels: tech task

#34 Add Tool In-memory persistence
  CHANGELOG.md
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/extensions/EditTextExtensions.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/GroupToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/ChipGroupLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/EnumToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/text/TextToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/time/TimeToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/toggle/ToggleToolLayout.kt
  devtools/android/src/main/res/layout/layout_dev_tool.xml
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/extensions/EditTextExtensionsKtTest.kt
  devtools/common/src/androidMain/kotlin/com/maximbircu/devtools/common/SharedPreferencesProvider.kt
  devtools/common/src/androidMain/kotlin/com/maximbircu/devtools/common/stores/PreferencesToolStoreImpl.kt
  devtools/common/src/androidTest/kotlin/com/maximbircu/devtools/common/SharedPreferencesProviderTest.kt
  devtools/common/src/androidTest/kotlin/com/maximbircu/devtools/common/stores/PreferencesToolStoreImplTest.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/DevTools.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/DevToolsStorage.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/core/DevTool.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/core/ToolStore.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/extensions/DevToolExtensions.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/configscreen/ConfigScreenPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/EnumToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/EnumToolView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolStore.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/text/TextToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/time/TimeToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/time/TimeToolView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/toggle/ToggleToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/readers/jsonschema/JsonSchemaToolFactory.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/DevToolsImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/DevToolsParserImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/DevToolsStorageImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/core/DevToolFactory.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/core/DevToolTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/extensions/DevToolExtensionsKtTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/configscreen/ConfigScreenPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/EnumToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolStoreTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/text/TextToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/time/TimeToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/toggle/ToggleToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/readers/jsonschema/JsonSchemaToolFactoryTest.kt
  devtools/common/src/iosMain/kotlin/com/maximbircu/devtools/common/stores/PreferencesToolStoreImpl.kt
  samples/android/src/main/assets/dev-tools.yml
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/CombinedSourcesConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/MemorySourceConfigActivity.kt
Labels: android, bug

#42 Improve EnumTool UX
  CHANGELOG.md
  devtools/android/build.gradle
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/EnumToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/selectors/chips/ChipGroupLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/selectors/chips/EnumToolChipsOptionSelectorLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/selectors/dialog/EnumToolOptionSelectorDialog.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/selectors/dialog/EnumToolOptionsAdapter.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/selectors/dialog/EnumToolOptionsAdapterDelegate.kt
  devtools/android/src/main/res/drawable/enum_tool_radio_button_background.xml
  devtools/android/src/main/res/layout/layout_enum_tool.xml
  devtools/android/src/main/res/layout/layout_enum_tool_chip.xml
  devtools/android/src/main/res/layout/layout_enum_tool_chips_option_selector.xml
  devtools/android/src/main/res/layout/layout_enum_tool_dialog_option_selector.xml
  devtools/android/src/main/res/layout/layout_enum_tool_radio_button.xml
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/EnumToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/EnumToolView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/selector/EnumToolOptionSelectorPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/selector/EnumToolOptionSelectorView.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/EnumToolOptionSelectorPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/enum/EnumToolPresenterImplTest.kt
  samples/android/src/main/assets/enum-options.json
Labels: android, feature

#44 Implement a tool context menu with help and state reset actions
  CHANGELOG.md
  devtools/android/build.gradle
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/DevToolsViewRegistry.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/extensions/ViewExtensions.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/list/DevToolsListLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolContextMenuClickListener.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolHelpDialog.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/help/DevToolHelpDialogInfoRowLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/EnumToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/group/GroupToolContextMenuClickListener.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/group/GroupToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/text/EditTextInputTypeProvider.kt
  devtools/android/src/main/res/anim/bounce.xml
  devtools/android/src/main/res/drawable/ic_more_vert.xml
  devtools/android/src/main/res/layout/layout_dev_tool.xml
  devtools/android/src/main/res/layout/layout_dev_tool_header.xml
  devtools/android/src/main/res/layout/layout_dev_tool_help_dialog.xml
  devtools/android/src/main/res/layout/layout_dev_tool_help_dialog_info_row.xml
  devtools/android/src/main/res/menu/dev_tool_context_menu.xml
  devtools/android/src/main/res/menu/group_tool_context_menu.xml
  devtools/android/src/main/res/values/attrs.xml
  devtools/android/src/main/res/values/strings.xml
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/extensions/ViewExtensionsKtTest.kt
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolContextMenuClickListenerTest.kt
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/presentation/tools/group/GroupToolContextMenuClickListenerTest.kt
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/presentation/tools/text/EditTextInputTypeProviderTest.kt
  devtools/common/src/androidMain/kotlin/com/maximbircu/devtools/common/stores/PreferencesToolStoreImpl.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/core/DevTool.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/help/DevToolHelpDialogPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/help/DevToolHelpDialogView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/text/TextTool.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tools/text/TextToolPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/readers/jsonschema/JsonSchemaToolFactory.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/core/DevToolTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolHelpDialogPresenterImpl.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/group/GroupToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/text/TextToolPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tools/text/TextToolTest.kt
  devtools/common/src/iosMain/kotlin/com/maximbircu/devtools/common/stores/PreferencesToolStoreImpl.kt
  samples/android/src/main/assets/dev-tools.yml
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/CombinedSourcesConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/MemorySourceConfigActivity.kt
  samples/android/src/main/res/layout/activity_main.xml
Labels: android, feature

#32 Set up ios modules
  .github/workflows/pull-requests.yml
  .gitignore
  CHANGELOG.md
  devtools/common/build.gradle
  devtools/ios/DevtoolsFramework.podspec
  devtools/ios/DevtoolsFramework.xcodeproj/project.pbxproj
  devtools/ios/DevtoolsFramework.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  devtools/ios/DevtoolsFramework.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  devtools/ios/DevtoolsFramework.xcodeproj/xcshareddata/xcschemes/DevtoolsFramework.xcscheme
  devtools/ios/DevtoolsFramework.xcworkspace/contents.xcworkspacedata
  devtools/ios/DevtoolsFramework.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  devtools/ios/DevtoolsFramework/DevToolsConfiguration.swift
  devtools/ios/DevtoolsFramework/SupportingFiles/DevtoolsFramework.h
  devtools/ios/DevtoolsFramework/SupportingFiles/Info.plist
  devtools/ios/DevtoolsFrameworkTests/DevtoolsFrameworkTests.swift
  devtools/ios/DevtoolsFrameworkTests/Info.plist
  devtools/ios/Podfile
  devtools/ios/Podfile.lock
  samples/ios/DevToolsApp.xcodeproj/project.pbxproj
  samples/ios/DevToolsApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/ios/DevToolsApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  samples/ios/DevToolsApp.xcworkspace/contents.xcworkspacedata
  samples/ios/DevToolsApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  samples/ios/DevToolsApp/AppDelegate.swift
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/100.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/1024.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/114.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/120.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/144.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/152.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/167.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/180.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/20.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/29.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/40.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/50.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/57.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/58.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/60.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/72.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/76.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/80.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/87.png
  samples/ios/DevToolsApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  samples/ios/DevToolsApp/Base.lproj/LaunchScreen.storyboard
  samples/ios/DevToolsApp/Base.lproj/Main.storyboard
  samples/ios/DevToolsApp/SceneDelegate.swift
  samples/ios/DevToolsApp/SupportingFiles/Info.plist
  samples/ios/DevToolsApp/ViewController.swift
  samples/ios/DevToolsAppTests/DevToolsAppTests.swift
  samples/ios/DevToolsAppTests/Info.plist
  samples/ios/DevToolsAppUITests/DevToolsAppUITests.swift
  samples/ios/DevToolsAppUITests/Info.plist
  samples/ios/Podfile
  samples/ios/Podfile.lock
Labels: feature, iOS

#45 Add ability to monitor specific dev tools update
  CHANGELOG.md
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolHelpDialog.kt
  devtools/android/src/main/res/layout/layout_dev_tool_help_dialog.xml
  devtools/android/src/main/res/values/strings.xml
  devtools/common/build.gradle
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/DevTools.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/core/DevTool.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/help/DevToolHelpDialogPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/help/DevToolHelpDialogView.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/readers/jsonschema/JsonSchemaToolFactory.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/DevToolsImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/core/DevToolTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolHelpDialogPresenterImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/readers/jsonschema/JsonSchemaToolFactoryTest.kt
  devtools/ios/DevtoolsFramework/DevToolsConfiguration.swift
  devtools/ios/Podfile.lock
  samples/android/src/main/assets/dev-tools.yml
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/CombinedSourcesConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/JsonSchemaSourceConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/MemorySourceConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/YamlSourceConfigActivity.kt
Labels: android, feature

#46 Add ability to get all config as json
  CHANGELOG.md
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/DevToolsStorage.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/extensions/DevToolExtensions.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/DevToolsStorageImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/extensions/DevToolExtensionsKtTest.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/MemorySourceConfigActivity.kt
Labels: android, feature

#47 Add ability to set dev tools state programmatically
  CHANGELOG.md
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/extensions/DevToolsExtensions.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/help/DevToolHelpDialog.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/help/StartupArgumentFlagProvider.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/readers/DevToolsSources.kt
  devtools/android/src/main/res/layout/layout_dev_tool_help_dialog.xml
  devtools/android/src/main/res/layout/layout_enum_tool.xml
  devtools/android/src/main/res/values/strings.xml
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/DevToolsExtensionsKtTest.kt
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/presentation/tool/help/StartupArgumentFlagProviderTest.kt
  devtools/android/src/test/kotlin/com/maximbircu/devtools/android/readers/DevToolsSourcesKtTest.kt
  devtools/common/src/androidMain/kotlin/com/maximbircu/devtools/common/stores/PreferencesToolStoreImpl.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/DevTools.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/DevToolsParser.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/core/DevTool.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/help/DevToolHelpDialogPresenter.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/help/DevToolHelpDialogView.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/DevToolsImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/DevToolsParserImplTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/core/DevToolTest.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolHelpDialogPresenterImplTest.kt
  devtools/common/src/iosMain/kotlin/com/maximbircu/devtools/common/stores/PreferencesToolStoreImpl.kt
  devtools/ios/DevtoolsFramework/DevToolsConfiguration.swift
  samples/android/src/main/assets/dev-tools.json
  samples/android/src/main/assets/dev-tools.yml
  samples/android/src/main/kotlin/com/maximbircu/devtools/MainActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/MemoryDevToolsProvider.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/SampleApplication.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/CombinedSourcesConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/JsonSchemaSourceConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/MemorySourceConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/YamlSourceConfigActivity.kt
Labels: android, feature
