Repository maximbircu/devtools-library, pull requests merged in 2021-01, with the labels that each got.

#67 Use `GITHUB_TOKEN` instead of GITHUB_ACCESS_TOKEN
  .github/workflows/pull-requests.yml
  CHANGELOG.md
  devtools/android/build.gradle
  devtools/common/build.gradle
  samples/android/build.gradle
Labels: tech task

#65 Migrate from Kotlin Synthetics to Android ViewBinding
  .codecov.yml
  CHANGELOG.md
  build.gradle
  devtools/android/build.gradle
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/DevToolsViewRegistry.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/extensions/ContextExtensions.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/configsreen/ConfigScreenLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/list/DevToolsListAdapter.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/help/DevToolHelpDialog.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/help/DevToolHelpDialogInfoRowLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enum/selectors/chips/EnumToolChipsOptionSelectorLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enumtool/EnumToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enumtool/selectors/chips/ChipGroupLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enumtool/selectors/chips/EnumToolChipsOptionSelectorLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enumtool/selectors/dialog/EnumToolOptionSelectorDialog.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enumtool/selectors/dialog/EnumToolOptionsAdapter.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/enumtool/selectors/dialog/EnumToolOptionsAdapterDelegate.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/group/GroupToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/text/TextToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/time/TimePickerLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/time/TimeToolLayout.kt
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tools/toggle/ToggleToolLayout.kt
  devtools/android/src/main/res/layout/layout_dev_tool_header.xml
  devtools/android/src/main/res/layout/layout_dev_tool_help_dialog.xml
  devtools/android/src/main/res/layout/layout_enum_tool.xml
  devtools/android/src/main/res/layout/layout_enum_tool_chips_option_selector.xml
  devtools/android/src/main/res/layout/layout_group_tool.xml
  devtools/android/src/main/res/layout/layout_text_tool.xml
  devtools/android/src/main/res/layout/layout_time_tool.xml
  devtools/android/src/main/res/layout/layout_toggle_tool.xml
  gradle/detekt.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  samples/android/build.gradle
  samples/android/src/main/kotlin/com/maximbircu/devtools/MainActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/CombinedSourcesConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/JsonSchemaSourceConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/MemorySourceConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/configscreens/YamlSourceConfigActivity.kt
  samples/android/src/main/kotlin/com/maximbircu/devtools/customtool/MyCustomToolLayout.kt
  samples/android/src/main/res/layout/layout_my_custom_tool.xml
Labels: android, tech task

#69 Enable Dev Tool whenever the user tries to update it
  CHANGELOG.md
  devtools/android/src/main/kotlin/com/maximbircu/devtools/android/presentation/tool/DevToolLayout.kt
  devtools/common/src/commonMain/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolPresenter.kt
  devtools/common/src/commonTest/kotlin/com/maximbircu/devtools/common/presentation/tool/DevToolPresenterImplTest.kt
Labels: android, feature
